USE [master]
GO
/****** Объект:  Database [TechStore_DWH]    Дата создания скрипта: 17.09.2026 15:43:53 ******/ 
CREATE DATABASE [TechStore_DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechStore_DWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TechStore_DWH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechStore_DWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TechStore_DWH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechStore_DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechStore_DWH]
GO
/****** Объект:  Table [dbo].[DimCustomer]    Дата создания скрипта: 17.09.2026 15:43:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[DimDate]    Дата создания скрипта: 17.09.2026 15:43:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] IDENTITY(1,1) NOT NULL,
	[FullDate] [date] NOT NULL,
	[Day] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[MonthName] [nvarchar](20) NOT NULL,
	[Quarter] [int] NOT NULL,
	[Year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[DimProduct]    Дата создания скрипта: 17.09.2026 15:43:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[FactSales]    Дата создания скрипта: 17.09.2026 15:43:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[SalesKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[DateKey] [int] NULL,
	[CustomerKey] [int] NULL,
	[ProductKey] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimCustomer] ON 

INSERT [dbo].[DimCustomer] ([CustomerKey], [CustomerID], [FirstName], [LastName], [City]) VALUES (1, 1, N'Иван', N'Иванов', N'Москва')
INSERT [dbo].[DimCustomer] ([CustomerKey], [CustomerID], [FirstName], [LastName], [City]) VALUES (2, 2, N'Пётр', N'Петров', N'Санкт-Петербург')
INSERT [dbo].[DimCustomer] ([CustomerKey], [CustomerID], [FirstName], [LastName], [City]) VALUES (3, 3, N'Анна', N'Смирнова', N'Казань')
SET IDENTITY_INSERT [dbo].[DimCustomer] OFF
GO
SET IDENTITY_INSERT [dbo].[DimDate] ON 

INSERT [dbo].[DimDate] ([DateKey], [FullDate], [Day], [Month], [MonthName], [Quarter], [Year]) VALUES (1, CAST(N'2026-01-10' AS Date), 10, 1, N'Январь', 1, 2026)
INSERT [dbo].[DimDate] ([DateKey], [FullDate], [Day], [Month], [MonthName], [Quarter], [Year]) VALUES (2, CAST(N'2026-01-15' AS Date), 15, 1, N'Январь', 1, 2026)
INSERT [dbo].[DimDate] ([DateKey], [FullDate], [Day], [Month], [MonthName], [Quarter], [Year]) VALUES (3, CAST(N'2026-01-20' AS Date), 20, 1, N'Январь', 1, 2026)
SET IDENTITY_INSERT [dbo].[DimDate] OFF
GO
SET IDENTITY_INSERT [dbo].[DimProduct] ON 

INSERT [dbo].[DimProduct] ([ProductKey], [ProductID], [ProductName], [Category]) VALUES (1, 1, N'Ноутбук Pro 14', N'Ноутбуки')
INSERT [dbo].[DimProduct] ([ProductKey], [ProductID], [ProductName], [Category]) VALUES (2, 2, N'Ноутбук Air 13', N'Ноутбуки')
INSERT [dbo].[DimProduct] ([ProductKey], [ProductID], [ProductName], [Category]) VALUES (3, 3, N'Монитор 27', N'Мониторы')
SET IDENTITY_INSERT [dbo].[DimProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[FactSales] ON 

INSERT [dbo].[FactSales] ([SalesKey], [OrderID], [DateKey], [CustomerKey], [ProductKey], [Quantity], [Price], [Amount]) VALUES (1, 1001, 1, 1, 1, 1, CAST(120000.00 AS Decimal(12, 2)), CAST(120000.00 AS Decimal(12, 2)))
INSERT [dbo].[FactSales] ([SalesKey], [OrderID], [DateKey], [CustomerKey], [ProductKey], [Quantity], [Price], [Amount]) VALUES (2, 1001, 1, 1, 5, 1, CAST(8000.00 AS Decimal(12, 2)), CAST(8000.00 AS Decimal(12, 2)))
INSERT [dbo].[FactSales] ([SalesKey], [OrderID], [DateKey], [CustomerKey], [ProductKey], [Quantity], [Price], [Amount]) VALUES (3, 1001, 1, 1, 6, 1, CAST(5000.00 AS Decimal(12, 2)), CAST(5000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[FactSales] OFF
GO
/****** Объект:  Index [UQ__DimCusto__A4AE64B997598EEC]    Дата создания скрипта: 17.09.2026 15:43:53 ******/ 
ALTER TABLE [dbo].[DimCustomer] ADD UNIQUE NONCLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ__DimDate__B2F46B295FB0A571]    Дата создания скрипта: 17.09.2026 15:43:53 ******/ 
ALTER TABLE [dbo].[DimDate] ADD UNIQUE NONCLUSTERED 
(
	[FullDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ__DimProdu__B40CC6ECCE9B4FD3]    Дата создания скрипта: 17.09.2026 15:43:53 ******/ 
ALTER TABLE [dbo].[DimProduct] ADD UNIQUE NONCLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([DateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
USE [master]
GO
